.navbar-brand {
    font-weight: 900;
    text-transform: uppercase;
    color: #7FA644;
}
.navbar{
    background-color: #593E34;
}
.nav-link{
    color: #7FA644;
}
.bg-light{
    background-color: #F2F2F2;
}
.hero-section{
    background-image: url("background-hero.jpg");
    background-size:100%;
}